@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage h1,
.homepage h2,
.homepage h3,
.homepage h4,
.homepage h5,
.homepage h6 {
  font-family: Syne;
}

.dashboard input,
.dashboard a,
.dashboard button {
  font-family: Inter;
}

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/assets/images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
}
