@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage h1,
.homepage h2,
.homepage h3,
.homepage h4,
.homepage h5,
.homepage h6 {
  font-family: Syne;
}

.dashboard input,
.dashboard a,
.dashboard button {
  font-family: Inter;
}

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/assets/images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
}

.loader {
  border: 4px solid transparent;
  border-top-color: currentcolor;
  border-radius: 50%;
  animation: 1s loader linear infinite;
  position: relative;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
}

.loader::before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid currentcolor;
  border-radius: 50%;
  opacity: 0.5;
}

td {
  font-size: 16px;
  line-height: 24px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
